<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Amazon Viewer</title>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma">
	<script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
	<section class="section">
	<h1 class="title">Price Tracker</h1>
	<div class="content">
		<table class="table" v-for="row in priceTrackerDataList">
			<tbody>
				<tr>
					<td colspan="3" style="font-weight: bold;">
					<a v-bind:href="row.url" target="_blank">{{ row["product-name"] }}</a>
					</td>
				</tr>
				<tr>
					<td style="width: 200px;">Price</td>
					<td>DateTime</td>
					<td>Price Change</td>
				</tr>
				<tr v-for="priceRow in row['price-history']">
					<td style="width: 200px;">${{ priceRow.price }}</td>
					<td>{{ priceRow.datetime }}</td>
					<td v-bind:style="colorChange(priceRow)">{{signDirection(priceRow)}} {{formattedPrice(priceRow)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	</section>
</div>

<script>		
		const app = new Vue({
			el: "#app",
			data: {
				priceTrackerDataList: []
			},
			methods: {
				colorChange: function(priceRow) {
					let color, change = priceRow.difference;
					if(change > 0) {
						color = 'red';
					} else if(change < 0){
						color = 'green';
					} else {
						color = 'gray';
					}
					return {color: color};
				},
				signDirection: function(priceRow) {
					let change = priceRow.difference;
					if(change > 0) {
						return '▲';
					} else if(change < 0){
						return '▼';
					}
				},
				formattedPrice: function(priceRow) {
					let fmt = new Intl.NumberFormat("en-US", {style: "currency", currency: "USD"});
					let fprice = fmt.format(priceRow.difference);
					return fprice;
				}
			},
			created: function () {
				const fetchData = () => {
					fetch("http://localhost:8000/shopping-project/item-data.json").then(response => {
						response.json().then(data => {
							this.priceTrackerDataList = data;
							for(let product of this.priceTrackerDataList) {
								let history = product['price-history'];
								history[0].difference = 0.00;
								for(let x = 1; x < history.length; x++) {
									history[x].difference = (history[x].price - history[x - 1].price).toFixed(2);
								}
							}
							setTimeout(fetchData, 60000);
						});
					});
				};
				fetchData();
			}
		});
</script>

</body>
</html>